<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <ion-icon name="scan-outline" slot="start"></ion-icon> Escanear QR
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding gradient-background">
  <!-- Título y descripción -->
  <div class="section-header">
    <ion-text color="secondary">
      <h2 style="text-align: center;">
        <ion-icon name="qr-code-outline" size="large"></ion-icon> Scanner
      </h2>
    </ion-text>
    <p style="text-align: center; color: var(--ion-color-medium);">
      Usa el escáner para registrar las asistencias escaneando el código QR.
    </p>
  </div>

  <!-- Contenedor del Scanner -->
  <ion-card style="margin: 20px auto; max-width: 500px;">
    <ion-card-header>
      <ion-card-title style="text-align: center; font-size: 1.2rem;">
        <ion-icon name="camera-outline" slot="start"></ion-icon> Escáner Activo
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="reader" style="width: 100%; height: 300px; margin: 0 auto; border: 1px solid var(--ion-color-light); border-radius: 10px;"></div>
    </ion-card-content>
  </ion-card>
</ion-content>
