/* Centrado de contenido */
.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: linear-gradient(135deg, #404144, #1e3d73); /* Fondo degradado */
  padding: 30px;
  border-radius: 10px;
}

/* Estilos para el encabezado */
h2 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #ffffff; /* Color blanco */
}

p {
  font-size: 1.2em;
  color: #dcdcdc; /* Color gris claro */
  margin-bottom: 20px;
}

/* Estilo para las tarjetas */
.option-card {
  margin-bottom: 15px;
  width: 90%;
  max-width: 400px;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efecto al pasar el mouse sobre la tarjeta */
.option-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

/* Estilo para los botones */
ion-button {
  border-radius: 50px;
  font-weight: bold;
}

ion-button[color="primary"] {
  --background: #4e73df;
  --border-color: #4e73df;
  --color: #fff;
}

ion-button[color="secondary"] {
  --background: #2d3e54;
  --border-color: #2d3e54;
  --color: #fff;
}

ion-button[fill="outline"] {
  --border-width: 2px;
}

ion-icon {
  margin-right: 10px;
}
