.custom-background {
  --background: linear-gradient(135deg, #2196F3, #E3F2FD); /* Fondo degradado */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Asegura que ocupe toda la pantalla */
}

.center-container {
  width: 90%;
  max-width: 400px;
  text-align: center;
  background: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.option-card {
  margin-top: 20px;
  border-radius: 15px;
  background: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.5rem;
  color: #333;
}

p {
  font-size: 1rem;
  color: #666;
}

ion-button {
  font-size: 1rem;
}
