<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      RegistrApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding custom-background">
  <div class="center-container">
    <h2 class="ion-text-center">Bienvenido a RegistrApp</h2>
    <p class="ion-text-center">Selecciona tu perfil para iniciar sesión</p>

    <!-- Botón de inicio de sesión para alumnos -->
    <ion-card class="option-card">
      <ion-card-content>
        <ion-button expand="block" fill="outline" color="primary" [routerLink]="['/iniciosesion-alumno']">
          <ion-icon slot="start" name="school-outline"></ion-icon>
          Inicio Sesión Alumno
        </ion-button>
      </ion-card-content>
    </ion-card>

    <!-- Botón de inicio de sesión para profesores -->
    <ion-card class="option-card">
      <ion-card-content>
        <ion-button expand="block" fill="outline" color="secondary" [routerLink]="['/iniciosesion-profesor']">
          <ion-icon slot="start" name="person-outline"></ion-icon>
          Inicio Sesión Profesor
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
